html, body, #root {
	margin: 0;
	padding: 0;
	height: 100%;
	display: inline;
	overflow: none;
}

#codebox-container {
	height: 95%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#codebox {
	width: 40%;
	height: calc(100% - 4px);
}